<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img [src]="song.img || 'https://bulma.io/images/placeholders/128x128.png'" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{i+1}}. {{song.title}}</strong>
          <small>{{song.category}}</small>
          <br> {{song.artist}}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" *ngIf="!playlistService.isPlaying(i)" (click)="playlistService.skipTo(i)">
            <i class="fa fa-play-circle"></i>
          </a>
          <span class="level-item" *ngIf="playlistService.isPlaying(i)">
            Currently playing...
          </span>
        </div>
      </nav>
    </div>
  </article>
</div>
