<div class="box" (click)="playlistService.skipTo(i)" style="cursor: pointer;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img [src]="song.img || 'https://bulma.io/images/placeholders/128x128.png'" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{i + 1}}. {{song.title}}</strong>
          <br>
          <small>{{song.artist}}</small>
        </p>
      </div>
    </div>
  </article>
</div>
