<!-- <div style="text-align:center">
  <h1>
    From Texas to Tennessee
  </h1>
</div>

<button class="button is-primary" (click)="playlistService.skip('prev')">Previous</button>
<button class="button is-primary" *ngIf="!playlistService.sound.playing()" (click)="playlistService.resume()">Play</button>
<button class="button is-primary" *ngIf="playlistService.sound.playing()" (click)="playlistService.pause()">Pause</button>
<button class="button is-primary" (click)="playlistService.skip('next')">Next</button>
<button class="button is-primary" (click)="playlistService.stop()">Stop</button>

<h2>{{ playlistService.currentSong.title }}</h2>
<h3>{{ playlistService.currentSong.artist }}</h3>
<h3>{{ playlistService.formatTime(playlistService.sound.duration()) }}</h3> -->


<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Kessler Theatre Mixtape
      </h1>
      <h2 class="subtitle">
        Texas & Tennessee
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <p class="title">
          {{ playlistService.currentSong.title }}
        </p>
        <p class="subtitle">
          {{ playlistService.currentSong.artist }} ({{ playlistService.formatTime(playlistService.sound.duration()) }})
        </p>
        <button class="button is-primary" (click)="playlistService.skip('prev')"><i class="fa fa-step-backward"></i></button>
        <button class="button is-primary" *ngIf="!playlistService.sound.playing()" (click)="playlistService.resume()"><i class="fa fa-play"></i></button>
        <button class="button is-primary" *ngIf="playlistService.sound.playing()" (click)="playlistService.pause()"><i class="fa fa-pause"></i></button>
        <button class="button is-primary" (click)="playlistService.stop()"><i class="fa fa-stop"></i></button>
        <button class="button is-primary" (click)="playlistService.skip('next')"><i class="fa fa-step-forward"></i></button>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="box" *ngFor="let song of playlistService.playlist">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{song.title}}</strong>
              <br> {{song.artist}}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item" (click)="playlistService.skipTo(1)">
                <i class="fa fa-play-circle"></i>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</section>