.bg-img {
    background-image: url("http://oakclifffilmfestival.com/assets/11458255244_8c58d68a5b_b.jpg");
    background-size: cover;
}

.wood-img {
    background-image: url("https://www.pixeden.com/media/k2/galleries/220/004-wood-melamine-subttle-pattern-background-pat.jpg");
}

.playback-controls {
    margin-top: 16px;
}

.card {
    min-height: 180px;
}

.category {
    padding-bottom: 16px;
}

// .overflow {
//     overflow-y: auto;
//     max-height: 300px;
// }