<section class="section wood-img">
  <div class="columns">
    <div class="column is-one-quarter">
      <img src="assets/Images/poster.jpg">
    </div>
    <div class="column">
      <p class="has-text-white is-uppercase">{{playlistService.currentSong.category}}</p>
      <div class="box">
        <div class="box-content">
          <article class="media">
            <figure class="media-left">
              <p class="image is-128x128">
                <img [src]="playlistService.currentSong.img || 'https://bulma.io/images/placeholders/128x128.png'" alt="Image">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong> {{ playlistService.currentSong.title }} </strong>
                  <br> {{ playlistService.currentSong.artist }}
                  <br>
                  <small>{{ playlistService.formatTime(position) }} / {{ playlistService.formatTime(playlistService.sound.duration())
                    }}</small>
                </p>
                <div class="playback-controls">
                  <button class="button is-black is-small" (click)="playlistService.skip('prev')">
                    <i class="fa fa-step-backward"></i>
                  </button>
                  <button class="button is-black is-small" *ngIf="!playlistService.sound.playing()" (click)="playlistService.resume()">
                    <i class="fa fa-play"></i>
                  </button>
                  <button class="button is-black is-small" *ngIf="playlistService.sound.playing()" (click)="playlistService.pause()">
                    <i class="fa fa-pause"></i>
                  </button>
                  <button class="button is-black is-small" (click)="playlistService.stop()">
                    <i class="fa fa-stop"></i>
                  </button>
                  <button class="button is-black is-small" (click)="playlistService.skip('next')">
                    <i class="fa fa-step-forward"></i>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="columns">
        <div class="column is-hidden-mobile">
          <app-song-card label="Last Song" [song]="playlistService.playlist[playlistService.previousIndex]" [i]="playlistService.previousIndex"></app-song-card>
        </div>
        <div class="column">
          <app-song-card label="Next Song" [song]="playlistService.playlist[playlistService.nextIndex]" [i]="playlistService.nextIndex"></app-song-card>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="section">
  <div class="container">
    <p class="is-size-3">{{playlistService.playlist.length}} Tracks</p>
    <div class="box" *ngFor="let song of playlistService.playlist; let i = index;">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img [src]="song.img || 'https://bulma.io/images/placeholders/128x128.png'" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{i+1}}. {{song.title}}</strong>
              <small>{{song.category}}</small>
              <br> {{song.artist}}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <button class="level-item button is-black is-small" *ngIf="!playlistService.isPlaying(i)" (click)="playlistService.skipTo(i)">
                <i class="fa fa-play"></i>
              </button>
              <span class="level-item" *ngIf="playlistService.isPlaying(i)">
                Currently playing...
              </span>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with
        <strong class="has-text-danger">&hearts;</strong> by
        <a href="http://toptenrecords.org">Top Ten Records</a>.
      </p>
    </div>
  </div>
</footer>
